@import 'base';
@mixin theme-light() {
    $body-bg: #ffffff;
    $header-font: rgb(141, 141, 141);
    $bar-login-font: rgb(243, 83, 123);
    $bar-register-font: rgb(196, 196, 196);
    $title-icon: rgb(196, 196, 196);
    $form-login-btn-bg: rgb(243, 83, 123);
    $form-login-btn-font: #ffffff;
    $form-regist-btn-bg: rgb(247, 126, 156);
    $form-regist-btn-font: #ffffff;
    @include login-base( $body-bg, $header-font, $bar-login-font, $bar-register-font, $title-icon, $form-login-btn-bg, $form-login-btn-font, $form-regist-btn-bg, $form-regist-btn-font);
}


/*$body-bg: #ffffff;
    $body-font: #fdfdfd;
    $btn: #8b8ae0;
    $span: #db3232;
    $card-font: #ffffff;
    $card-header-bg: #383838;
    $card-body-bg: #777575;
    @include base( $body-bg, $body-font, $btn, $span, $card-font, $card-header-bg, $card-body-bg);*/